body {
  background: url(assets/freedom.jpg) no-repeat center center fixed;
}

h1 {
  font-family: "Raleway";
  font-weight: normal;
  font-variant-caps: small-caps;
  position: absolute;
  top: 70px;

  font-size: 300%;
  margin-left: 5%;
  margin-right: 5%;
}

h1, p {
  text-align: center;
}

p {
  font-weight: bold;
  font-style: oblique ;
  margin-top: 350px;
  font-size: larger;
}